$badge-size: 2.5rem;

.commentary {
  & &__card {
    display: flex;
    font-size: 1rem;
    padding: 2rem;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1.25rem;
      bottom: 0;
      border-left: 1px dotted $dot-grey;
    }
  }

  & &__time {
    box-shadow: $box-shadow;
    height: $badge-size;
    width: $badge-size;
    border-radius: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    top: 1.4rem;
  }

  & &__body {
    margin-left: 2rem;
  }
}
