$badge-size: 2.5rem;

.commentary {
  & &__card {
    display: flex;
    font-size: 1rem;
    padding: 1rem 2rem;
    position: relative;

    &.commentary__card--highlight {
      .commentary__time {
        background: $black;
        color: $white;
        transform: scale(1.5);
        transition: transform 0.6s $transition-in-out-back;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1.25rem;
      bottom: 0;
      border-left: 1px dotted $dot-grey;
    }
  }

  & &__time {
    box-shadow: $box-shadow;
    height: $badge-size;
    width: $badge-size;
    border-radius: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    top: 2rem;
    background: $black;
    color: $white;
  }

  & &__body {
    margin-left: 2rem;
    background: $white;
    padding: 2rem;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: 3px;
  }
}
