* {
  box-sizing: border-box;
}

body {
  background-color: $bg-white;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1.25rem;
  min-width: 320px;
}

.app-grid {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  justify-content: space-between;

  .key-moment-wrapper {
    width: 30%;
  }

  .key-moment-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: $box-shadow-white;
    background-color: $white;
    padding: 0 1.25rem;
    overflow: hidden;
    transition: background 0.6s ease;
  }

  .commentary-container {
    padding-top: 12.5rem;
  }

  @media screen and (min-width: $screen-sm) {
    flex-direction: row;

    .key-moment-container {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 20px;
      height: auto;
      box-shadow: $box-shadow;
      background: $light-grey;
    }

    .commentary-container {
      width: 70%;
      padding-top: 0;
    }
  }
}
